
{
  "presets": [
    [
      "@babel/preset-env", 
      {
        // 将module配置为false, 将转为esm，tree shacking 只支持 es6 module 模式
        // 但其实可以不用配置，babel会默认复制为‘auto’, 
        // 他会检测如果是在bundle工具下, 例如webpack会自动转为es module
        // "modules": "false",
        "targets": {
          "browsers": ["> 1%", "last 2 versions"]
        },
        // 按需加载polyfill
        "useBuiltIns": "usage",
        "corejs": 3
      } 
    ],
    [
      "@babel/preset-typescript", 
      {
        "onlyRemoveTypeImports": true
      }
    ],
    "@babel/preset-react"
  ], 
  "plugins": [
    // 启用装饰器
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    // 解决在class中直接写入属性报错
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    // 按需加载
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
    // antd4 js可以通过tree shaking进行按需引入了，不再需要此插件
    // [
    //   // antd 按需加载
    //   "import",
    //   {
    //     "libraryName": "antd",
    //     "libraryDirectory": "es",
    //     "style": true
    //   }
    // ]
  ]
}